<style>
<!--
SPAN {font-size:1px}
.txt {font-size:15px;font-family:Arial,Verdana,Tahoma;color:#000000;font-weight:normal;text-decoration:none}
td {font-size:14px;font-family:Arial,Verdana,Tahoma;color:#000000;font-weight:normal;text-decoration:none;border-color: #000000}
.s0 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs0 {vertical-align:bottom;}
.s1 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs1 {vertical-align:bottom;}
.s2 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs2 {vertical-align:bottom;}
.s3 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs3 {vertical-align:bottom;}
.s4 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs4 {vertical-align:bottom;}
.s5 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs5 {vertical-align:bottom;}
.s6 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs6 {vertical-align:bottom;}
.s7 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs7 {vertical-align:bottom;}
.s8 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs8 {vertical-align:bottom;}
.s9 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs9 {vertical-align:bottom;}
.s10 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs10 {vertical-align:bottom;}
.s11 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs11 {vertical-align:bottom;}
.s12 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs12 {vertical-align:bottom;}
.s13 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs13 {vertical-align:bottom;}
.s14 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs14 {vertical-align:bottom;}
.s15 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs15 {vertical-align:bottom;}
.s16 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs16 {vertical-align:bottom;}
.s17 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs17 {vertical-align:bottom;}
.s18 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs18 {vertical-align:bottom;}
.s19 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs19 {vertical-align:bottom;}
.s20 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs20 {vertical-align:bottom;}
.s21 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs21 {vertical-align:bottom;}
.s22 {vertical-align:bottom;font-family:Arial;font-size:10pt;font-weight:400;text-decoration:none;}
.rs22 {vertical-align:bottom;}
.f0 {font-family:Arial;font-size:10pt;font-weight:400;font-style:none;text-decoration:none}
.f1 {font-family:Arial;font-size:10pt;font-weight:400;font-style:none;text-decoration:none}
.f2 {font-family:Arial;font-size:10pt;font-weight:400;font-style:none;text-decoration:none}
.f3 {font-family:Arial;font-size:10pt;font-weight:400;font-style:none;text-decoration:none}
.f4 {font-family:Arial;font-size:10pt;font-weight:400;font-style:none;text-decoration:none}
-->
</style>